* {
  font-family: 'Barlow', sans-serif;
}

img {
  max-width: 799px;
  margin: 0 auto;
}

body {
margin-left: auto;
margin-right: auto;
  text-align: center;
}


#root {
  margin: 0 auto;
  max-width: 1000px;
 /* border: black 1px solid;*/
}

