
h2 {
	margin-left: 1em;
	margin-right: 1em;
	text-align: left;
  
}

.canvas-container {
	width: 94%;
}

canvas {
	border: 1px solid #aaa;
}

#bd-wrapper {
	max-width: 500px;
	width: 98%;
	border: 1px solid #aaa;
}

#drawing-color {
 /* width: 20% !important;*/
  margin: 1em auto;
}



