

.canvas-container {
	  display: inline-block;
width: 85%;
		border:1px solid #aaa;
text-align: left;
padding-top: 3px;
padding-bottom: 3px;
}

canvas {
	border:1px solid #aaa;
}

#bd-wrapper {

	width: 60%;
	border: 1px solid #aaa;


}

#drawing-color, #clear-canvas {
	float: right;
}





