

#bd-wrapper {
	display: inline-block;
}

.canvas-container {
	  display: inline-block;
width: 70%;
		border:1px solid #aaa;
text-align: left;
padding: 0;
margin: 0;
vertical-align: top;
}

#new-button {
	float: right;
margin-top: 3px;
}